<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>집에 돌아감</string>
		<string>돌아갈 귀,집 가</string>
		<string>歸家</string>
	</array>
	<array>
		<string>학교에 들어감</string>
		<string>들 입,학교 학</string>
		<string>入學</string>
	</array>
	<array>
		<string>정이 많음</string>
		<string>많을 다,정 정</string>
		<string>多情</string>
	</array>
	<array>
		<string>습기가 많음</string>
		<string>많을 다,습기 습</string>
		<string>多濕</string>
	</array>
	<array>
		<string>물에 잠긺</string>
		<string>잠길 침,물 수</string>
		<string>沈水</string>
	</array>
	<array>
		<string>보통과 다름</string>
		<string>다를 수,보통 상</string>
		<string>殊常</string>
	</array>
	<array>
		<string>모집에 응함</string>
		<string>응할 응,모집 모</string>
		<string>應募</string>
	</array>
	<array>
		<string>잠에 듦</string>
		<string>나아갈[들] 취,잘 침</string>
		<string>就寢</string>
	</array>
	<array>
		<string>풀기 어려움</string>
		<string>어려울 난,풀 해</string>
		<string>難解</string>
	</array>
	<array>
		<string>자리에 나옴</string>
		<string>나올 출,자리 석</string>
		<string>出席</string>
	</array>
	<array>
		<string>느낌이 많음</string>
		<string>많을 다,느낌 감</string>
		<string>多感</string>
	</array>
	<array>
		<string>배에서 내림</string>
		<string>내릴 하,배 선</string>
		<string>下船</string>
	</array>
</array>
</plist>
