<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>사람이 만듦</string>
		<string>사람 인,만들 조</string>
		<string>人造</string>
	</array>
	<array>
		<string>해가 짐</string>
		<string>해 일,질 몰</string>
		<string>日沒</string>
	</array>
	<array>
		<string>해가 뜸</string>
		<string>해 일,뜰 출</string>
		<string>日出</string>
	</array>
	<array>
		<string>밤이 깊음</string>
		<string>밤 야,깊을 심</string>
		<string>夜深</string>
	</array>
	<array>
		<string>하늘이 줌</string>
		<string>하늘 천,줄 부</string>
		<string>天賦</string>
	</array>
	<array>
		<string>뼈가 부러짐</string>
		<string>뼈 골,부러질 절</string>
		<string>骨折</string>
	</array>
	<array>
		<string>마음에 듦,마음이 취함</string>
		<string>마을 심,취할 취</string>
		<string>深趣</string>
	</array>
	<array>
		<string>때가 급함,시간이 급함</string>
		<string>때[시간] 시,급할 급</string>
		<string>時急</string>
	</array>
	<array>
		<string>봄이 옴</string>
		<string>봄 춘,올 래</string>
		<string>春來</string>
	</array>
	<array>
		<string>국민이 주인임,백성이 주인임</string>
		<string>백성[국민] 민,주인 주</string>
		<string>民主</string>
	</array>
	<array>
		<string>달이 뜸</string>
		<string>달 월,뜰 출</string>
		<string>月出</string>
	</array>
	<array>
		<string>꽃이 핌</string>
		<string>꽃 화,열[필] 개</string>
		<string>花開</string>
	</array>
</array>
</plist>
